/* 404 Page */
.container {
  width: min(100% - 2rem, 72rem);
  margin-inline: auto;
}
.error404 {
  background-color: var(--color-primaray100);
  border-radius: 60px;
  padding: 12.9rem 0;
  text-align: center;
}
.error404__title {
  font-size: var(--font-size-H5);
  color: var(--color-White);
  margin-bottom: 2rem;
  font-weight: 400;
}
.error404__message {
  font-size: var(--font-size-P2);
  color: var(--color-White);
  font-weight: 200;
}
.error404__link {
  color: var(--color-White);
  text-decoration: none;
}
/* Scroll */
::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-Black10);
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  border-radius: 4.5px;
  margin: 5px;
  background-color: var(--color-primaray100);
  /* display: none; */
}
