/*  Main Header */
.main-header {
  background-color: var(--color-white);
  margin: 2rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__logo {
  color: var(--color-primaray100);
  font-size: var(--font-size-body2);
}
.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-p2);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.4s ease;
}
.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}
.nav__item {
  font-size: var(--font-size-p2);
}
.nav__item > a {
  text-decoration: none;
  color: var(--color-black50);
  display: block;
  padding: 0.5rem;
}
.nav__item > a:hover {
  color: var(--color-primaray100);
}
.nav__toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-black100);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 0px);
  margin: 10px 0;
}
.nav.nav__expanded .bar-two {
  transform: rotate(45deg) translate(-9px, 0px);
  margin: 10px 0;
}
/* Footer */
.footer {
  width: 100%;
  padding: 5rem 2rem;
}
.footer__container {
  padding: 2rem 4rem 4rem 5.5rem;
  background-color: var(--color-black100);
  width: min(100%, 35rem);
  margin-inline: auto;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer__pages,
.footer__contact-us,
.footer__copyright,
.footer__glow {
  margin-bottom: 3rem;
}
.footer__glow {
  width: 28.4rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 0px 99px 0px var(--color-primaray100);
  flex-shrink: 0;
}
.footer__logo {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: var(--color-white);
  text-align: center;
}
.footer__pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-size-p1);
  justify-content: center;
}
.footer__pages:first-child {
  font-size: var(--font-size-h5);
}
.footer__link {
  text-decoration: none;
  color: var(--color-white);
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--color-white);
  border: 0;
  font-size: 1.8rem;
  font-weight: 300;
  display: block;
  text-align: center;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__contact-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--font-size-p2);
  margin-bottom: 2rem;
}
.footer__contact-link:last-child {
  margin-bottom: 0;
}
.footer__contact-icons {
  width: 1.8rem;
  height: 2.098rem;
  margin: 0rem 2rem -0.5rem 0rem;
}
.footer__copyright {
  color: var(--color-white);
  text-align: center;
  gap: 1rem;
}
.footer__cta {
  margin-top: 2rem;
  text-decoration: none;
  color: var(--color-white);
}
.footer__copyright p {
  font-size: var(--font-size-p2);
  font-weight: 300;
  margin-bottom: 1rem;
}
.footer__copyrigh p:last-child {
  margin-bottom: 0;
}
.footer__lineBetween {
  display: none;
}
.footer__joinUpdates {
  display: none;
}
@media screen and (min-width: 812px) {
  .main-header {
    margin: 4rem;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__item {
    margin: 0 1rem 0 1rem;
    font-size: 1.6rem;
  }
  .nav__item > a {
    padding-bottom: 1rem;
  }
  /* Footer */
  .footer {
    width: 100%;
    padding: 5rem 0 0 0;
  }
  .footer__container {
    padding: 5rem 4rem;
    border-radius: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .footer__glow {
    display: none;
  }
  .footer__pages {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .footer__cta {
    display: none;
  }
  .footer__lineBetween {
    width: 80%;
    height: 1px;
    background-color: var(--color-black50);
    margin: 4rem 0;
    display: block;
  }
  .footer__contact-link {
    margin-bottom: 0;
  }
  .footer__contact-us {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 0;
  }
  .footer__joinUpdates {
    display: flex;
    flex-direction: column;
    gap: 5.3rem;
    padding: 5.5rem 0;
    width: 80%;
    border: 1px solid #585858;
    border-radius: 60px;
    background-color: var(--color-black75);
    align-items: center;
    margin-bottom: 4rem;
  }
  .joinUpdates__Title {
    font-size: var(--font-size-h5);
    color: var(--color-white);
  }
  .joinUpdates__InputContainer {
    background-color: var(--color-black100);
    width: 80%;
    border-radius: 15px 44px;
    padding: 1rem 2rem;
    font-size: var(--font-size-p1);
    display: flex;
    justify-content: space-between;
  }
  .joinUpdates__emailInput {
    background-color: var(--color-black100);
    color: var(--color-white);
    border: 0;
    font-size: var(--font-size-p1);
  }
  .joinUpdates__emailInput:focus {
    outline: none;
  }
  .joinUpdates__emailInput::placeholder {
    color: var(--color-white);
  }
  .joinUpdates__InputContainer:focus-within {
    outline: 2px solid var(--color-black50);
  }
  .footer__copyright {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer__copyright p {
    font-size: var(--font-size-p1);
  }
  .footer__contact-link {
    font-size: var(--font-size-p1);
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    color: var(--color-primaray100);
    font-size: var(--font-size-h5);
  }
  .nav__item {
    font-size: var(--font-size-p1);
    padding: 1rem 2rem 1rem 2rem;
  }
  /* Footer */
  .footer__container {
    padding: 5rem;
  }
  .footer__joinUpdates {
    padding: 5.5rem 5.5rem;
    flex-direction: row;
  }
  .joinUpdates__Title {
    text-wrap: balance;
  }
  .joinUpdates__InputContainer {
    width: 80%;
  }
}
